.nav-linksRedes {
  display: flex;
  flex-direction: r;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding: 1.5rem;
  gap: 2.5rem;

  visibility: visible;
}

.nav-itemRedes {
  transition: 0.3s color ease;
}

.nav-itemRedes:hover {
  color: #8d8c8d;
}

@media screen and (min-width: 980px) {
}
