.navDontSticky {
  visibility: hidden;
  overflow: hidden;
}

.stickyNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  visibility: visible;
}

.navHamburger {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  z-index: 110;
}

.logo {
  visibility: hidden;
  width: 0;
}

.nav-container-links {
  visibility: hidden;
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  transform: translateX(100px);
  transition: all 1s;
  background-color: rgba(255, 255, 255, 0.555);
  backdrop-filter: blur(8px);
  z-index: 100;
}
.closeMenu {
  flex-direction: column;
  height: 0;
}

.openMenu {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transform: translateX(0px);
  transition: all 1s;
}

.nav-link {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
  cursor: pointer;
  font-size: 1.4rem;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  color: #8d8c8d;
  transition: color 0.2s;
}

@media screen and (min-width: 1024px) {
  .navDontSticky {
    visibility: visible;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .stickyNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    visibility: visible;
  }

  .navHamburger {
    display: none;
  }

  .logo {
    visibility: visible;
    max-width: 10%;
    width: 8%;
    padding: 1.5rem;
  }

  .personal {
    width: 100%;
    transition: all 1s ease;
  }

  .personal:hover{
    transform: rotateZ(360deg);
    transition: all 1s ease;
  }

  .nav-container-links {
    visibility: visible;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: flex-end;

    gap: 1.5rem;
    transform: translateX(0);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
  }

  .closeMenu {
    flex-direction: row;
    height: auto;
  }
}
