.navDontSticky {
  visibility: hidden;
  overflow: hidden;
  transition: all 1s;
}

.stickyNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  visibility: visible;
  transition: all 1s;
}

.navHamburger {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  z-index: 110;
  transition: all 1s;
}

.logo {
  visibility: hidden;
  width: 0;
}

.nav-container-links {
  visibility: hidden;
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  transform: translateX(100px);
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(8px);
  transition: all 1s;
}
.closeMenu {
  flex-direction: column;
  height: 0;
  transition: all 1s;
}

.openMenu {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transform: translateX(0px);
  opacity: 1;
  overflow: visible;
  transition: all 1s;
  z-index: 110;
}

.nav-link {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
  cursor: pointer;
  font-size: 1.4rem;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  color: #8d8c8d;
  transition: color 0.2s;
}

@media screen and (min-width: 1024px) {
  .navDontSticky {
    min-height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem;
    transition: 1s ease;
    visibility: visible;
  }

  .nav-container-links {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    backdrop-filter: blur(0.8);
  }

  .navHamburger {
    visibility: hidden;
  }
  .logo {
    visibility: visible;
  }
}
